body {
background-color: #392C1E;
}

.container-fluid {
  background-color: rgba(57, 44, 30, 0.7);
}

.nav-item {
  font-family: 'Montserrat';
}

.nav-link {
color: #B6AC97; 
}

.img-responsive {
  border-radius: 50px;
}

.login {
  background-color: #D9D9D9;
  color: #392C1E;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
  
.bg-image {
  background-image: url("./ressources/magnifique-salle-italienne-peintures-mur.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #D9D9D9;
  font-family: 'Sacramento', cursive;
  text-shadow: #392C1E 2px 5px;

}

.container {
  padding: auto;
  top: 0px;
  background-color: #B6AC97;
  max-width: none;
  margin: 0;
}

h2 h3 {

  font-family: 'Hind Madurai', sans-serif;
}

.gallery {
  background-color: rgba(57, 44, 30, 0.7);
  
}
